/* reset.css */
@import url(./reset.css);

/* frame */
.frame {
  flex-direction: column;
}

/* navbar */
.navbar_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 8px 12px;
  border: 1px solid #f00;
}

#logo {
  font-size: 24px;
  color: #000;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: blue;
  border-radius: 4px;
}

.navbar_code {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: blue;
}

/* dashboard */
#dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  border: 1px solid #f00;
}

.dashboard img {
  align-items: center;
  justify-content: center;
  width: 550px; /* 이미지 크기 조절 */
  height: 580px; /* 이미지 비율 유지 */
}

.dashboard_text {
  flex-direction: column;
  font-size: 22px;
  top: 70%;
  right: -100px;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

.dashboard_text2 {
  flex-direction: column;
  margin: 20px;
  display: flex;
}

.dashboard_btn {
  background-color: #000;
  color: #fff;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 40px;
  font-size: 12px;
}

.dashboard_text_highlight {
  color: #fff;
  background-color: blue;
  display: inline-block; /* 텍스트 강조 스타일 */
  padding: 0 5px; /* 강조 텍스트 패딩 */
}

/* About me */

/* footer */
.owen_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  font-size: 30px;
  font-weight: 600;
  border-top: 1px solid #000;
  margin-bottom: 20px;
}

.links a {
  font-size: 20px;
  font-weight: 400;
  gap: 10px;
}

/* MoBile */
@media screen and (max-width: 868px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_code {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toogleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_code.active {
    display: flex;
  }

  .dashboard {
    flex-direction: column;
    align-items: center;
  }

  .dashboard img {
    width: 80%; /* 이미지 크기 조절 (모바일) */
    margin-bottom: 20px; /* 이미지와 텍스트 사이의 간격 (모바일) */
  }

  .dashboard_text {
    margin-left: 0;
  }
}
