/* reset */
@import "./reset.scss";

/* 색상 및 크기 변수 */
$color: (
  bg-dark-color: #000,
  bg-gray-color: #808080,
  bg-light-color: #fff,
  accent-color: #dc143c,
  theme-color: #55b2e4,
);

$font-size: 14px;
$border-radius: 15px;

/* mixins */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-style($bg, $border, $radius) {
  background: $bg;
  border: $border;
  border-radius: $radius;
}

@mixin headerStyle {
  display: flex;
  align-items: center;
  gap: 10px;

  .title {
    color: map-get($color, theme-color);
    font: 600 16px/1 "Arial";
  }

  .subtitle {
    font: normal 14px/1 "Arial";
  }
}

/* 공통 스타일 */
html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: $font-size;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .wrapper_header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include headerStyle;

    .divideLine {
      width: 100%;
      border-top: 1px solid map-get($color, bg-gray-color);
      margin: 4px 0;
    }

    .contents_body {
      color: map-get($color, bg-dark-color);
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .wrapper_body {
    width: 100%;
    height: 270px;
    @include headerStyle;

    .video {
      width: 100%;
      height: 240px;
      background: url("./contents/htm_2016080484837486184.jpg") center/cover
        no-repeat;
      margin-top: 10px;
      border-radius: $border-radius;
    }
  }
}
