@charset "UTF-8";
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 색상 및 크기 변수 */
/* mixins */
/* 공통 스타일 */
html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .wrapper_header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper .wrapper_header .title {
  color: #55b2e4;
  font: 600 16px/1 "Arial";
}
.wrapper .wrapper_header .subtitle {
  font: normal 14px/1 "Arial";
}
.wrapper .wrapper_header .divideLine {
  width: 100%;
  border-top: 1px solid #808080;
  margin: 4px 0;
}
.wrapper .wrapper_header .contents_body {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.wrapper .wrapper_body {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper .wrapper_body .title {
  color: #55b2e4;
  font: 600 16px/1 "Arial";
}
.wrapper .wrapper_body .subtitle {
  font: normal 14px/1 "Arial";
}
.wrapper .wrapper_body .video {
  width: 100%;
  height: 240px;
  background: url("./contents/htm_2016080484837486184.jpg") center/cover no-repeat;
  margin-top: 10px;
  border-radius: 15px;
}